<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application" singleton="false">
    <option name="MAIN_CLASS_NAME" value="com.bankApp.Server" />
    <module name="bankApp" />
    <RunnerSettings RunnerId="Run" />
    <ConfigurationWrapper RunnerId="Run" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>